@import url('@/presentation/assets/style/Global.css');

body,
html,
generatepg-main {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: white;
}

.generatepg-back-button {
	font-family: 'PretendardVariable', sans-serif;
	font-size: 160%;
	margin-top: 16px;
	color: black;
	margin-top: 16px;
	width: 420px;
	background-color: white !important;
	border: none;
	margin-left: -95px;
}

.generatepg-subheader-text-container {
	position: relative;
	left: calc(anchor(right) + 20px);
	font-family: 'PretendardVariable', sans-serif;
	font-size: 110%;
	font-weight: 400;
	margin-top: 16px;
	color: black;
}

.generatepg-right-content-box {
	position: absolute;
	right: 0;
	width: calc(100% - 255px);
	min-width: 500px;
	height: 100%;
	background: #ffffff;
	display: flex;
	flex-direction: column;
	align-items: center; /* Align items from the start horizontally */
	justify-content: flex-start; /* Align items from the start vertically */
	padding: 20px; /* Add some padding for better spacing */
	overflow: scroll;
	overflow-x: hidden;
}

.generatepg-right-content-container {
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: flex-start; /* Align items from the start horizontally */
	justify-content: flex-start; /* Align items from the start vertically */
	flex-grow: 1;
}

.generatepg-content-grid {
	width: 101%;
	grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
	gap: 40px;
	display: flex; /* 그리드 대신 플렉스로 변경하여 요소들이 한 줄로 배열되게 함 */
	flex-wrap: nowrap; /* 요소들이 줄 바꿈 없이 한 줄로 유지 */
	overflow-x: auto; /* 수평 스크롤바 활성화 */
	scrollbar-width: none;
}
.generatepg-content-grid::-webkit-scrollbar {
	display: none; /* WebKit */
}

.generatepg-content-box {
	flex: 0 0 370px;
	background-color: #f8f8f8;
	border: 2px solid #e6e6e6;
	border-radius: 10px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
	margin-top: 40px;
	transition: all 0.3s ease;
}

.generatepg-content-box-number {
	color: #191919;
	font-size: 100%;
	position: relative;
	top: -60px;
	left: -20px;
}

.generatepg-content-box:hover {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.generatepg-content-box-label {
	font-size: 16px;
	color: #8e8e8e;
	margin-bottom: 10px;
	font-weight: 600;
}

.generatepg-content-title-text {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 10px;
	color: #191919;
}

.generatepg-content-box-text {
	font-size: 18px;
	color: #606060;
	font-weight: 350;
}

.generatepg-content-box.selected {
	border: 3px solid #000; /* 선택된 항목의 경계선을 두껍게 */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 선택된 항목의 그림자 강조 */
}

.generatepg-content-box.unselected {
	opacity: 0.5; /* 선택되지 않은 항목을 흐리게 */
}

.generatepg-date {
	font-size: 16px;
	color: #aeaeae;
	text-align: right;
	margin-top: 20px;
}

.generatepg-last-button-container {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 20px;
	width: 100%;
}

.generatepg-last-button {
	border: none;
	cursor: pointer;
	outline: none;
	display: flex;
	padding: 0 20px;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	transition: transform 0.1s;
	box-sizing: border-box;
	width: 50%;
	height: 60px;
	border-radius: 10px;
	font-size: 20px;
	font-weight: 600;
	background: #716ae7;
	background: color(display-p3 0.441 0.415 0.905);
	color: #fff; /* Adjust the text color as needed */
}

.generatepg-last-button:active {
	transform: scale(0.95);
	user-select: none;
	transition: transform 0.1s;
}

.generatepg-input-field {
	width: 100%; /* 필요에 따라 조정 가능 */
	height: 50px;
	flex-shrink: 0;
	border-radius: 10px;
	border: 2px solid #c4c4c4;
	border: 2px solid color(display-p3 0.7686 0.7686 0.7686);
	padding: 0 12px;
	font-family: 'Pretendard', sans-serif;
	font-weight: 500;
	font-size: 20px;
	color: #191919;
	overflow: visible;
	overflow-wrap: normal;
	resize: vertical; /* Allow vertical resizing */
	white-space: pre-wrap;
}

.generatepg-input-field::placeholder {
	color: #b0b0b0;
	color: color(display-p3 0.69 0.69 0.69);
}
