@import url('../presentation/assets/style/Global.css');

body,
html,
main {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: white;
}

.flex {
	display: flex;
}

.min-h-screen {
	min-height: 100vh;
}

.flex-col {
	flex-direction: column;
}

.items-center {
	align-items: center;
}

.justify-center {
	justify-content: center;
}

.bg-white {
	background-color: white;
}

.left-sidebar {
	position: absolute;
	left: 0;
	width: 40%;
	min-width: 1000px;
	height: 100%;
	background: #ededed;
	background: color(display-p3 0.9308 0.9308 0.9308);
}

.sidebar-pattern {
	left: 0;
	width: 747.571px;
	height: 492.403px;
	transform: rotate(-2.552deg);
	flex-shrink: 0;
	stroke: #fff;
	stroke-width: 50px;
	stroke: color(display-p3 1 1 1);
}
