@import url('@/presentation/assets/style/Global.css');

body,
html,
main {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: white;
}

.flex {
	display: flex;
}

.min-h-screen {
	min-height: 100vh;
}

.flex-col {
	flex-direction: column;
}

.items-center {
	align-items: center;
}

.justify-center {
	justify-content: center;
}

.bg-white {
	background-color: white;
}

.header-text-container {
	font-family: 'PretendardVariable', sans-serif;
	font-size: 190%;
	margin-top: 16px;
	color: #191919;
}

.subheader-text-container {
	position: relative;
	left: calc(anchor(right) + 20px);
	font-family: 'PretendardVariable', sans-serif;
	font-size: 130%;
	font-weight: 600;
	color: #191919;
}

.right-content-box {
	position: absolute;
	right: 0;
	width: calc(100vw - 300px);
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 500px;
}

.right-content-container {
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: normal;
	justify-content: flex-start;
}

.content-grid-wrapper {
	width: 100%;
	overflow-x: auto;
}

.content-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 20px;
}

.content-box {
	background-color: #F8F8F8;
	border: 2px solid #E6E6E6;
	border-radius: 10px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
	transition: box-shadow 0.3s ease;
	min-width: 300px;
}

.content-box:hover {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content-box-label {
	font-size: 16px;
	color: #606060;
	margin-bottom: 10px;
}

.content-title-text {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 10px;
	color: #191919;
}

.content-box-text {
	font-size: 18px;
	color: #606060;
	font-weight: 600;
}

.date {
	font-size: 16px;
	color: #AEAEAE;
	text-align: right;
	margin-top: 20px;
}

/* Small screens */
@media (max-width: 800px) {
	.content-grid {
		display: flex;
		overflow-x: auto;
		gap: 10px;
	}
}
