@import url('@/presentation/assets/style/Global.css');

body,
html,
main {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: white;
}

.header-text-container {
	font-family: 'PretendardVariable', sans-serif;
	font-size: 190%;
	margin-top: 16px;
	color: black;
}

.subheader-text-container {
	position: relative;
	left: calc(anchor(right) + 20px);
	margin-top: 16px;
	color: #191919;
	color: color(display-p3 0.098 0.098 0.098);
	font-family: 'Pretendard', sans-serif;
	font-size: 20px;
	font-weight: 600;
	/* line-height: normal; */
}

.right-content-box {
	position: absolute;
	right: 0;
	width: calc(100vw - 300px);
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.right-content-container {
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: normal;
	justify-content: flex-start;
}

.button-container {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: 50%;
	min-width: 300px;
}

.back-button {
	font-family: 'PretendardVariable', sans-serif;
	font-size: 190%;
	margin-top: 16px;
	color: #191919;
	width: 420px;
	background-color: white !important;
	border: none;
	margin-left: -50px;
}