.loading-spinner-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh; /* 화면 전체 중앙에 배치 */
	background-color: white; /* 배경색을 흰색으로 설정 */
}

.loading-gif {
	width: 100px; /* 필요에 따라 크기를 조정하세요 */
	height: 100px;
}
