@import url('../../assets/style/Global.css');

.logo-box {
	display: flex;
	width: 65%;
	flex-direction: row;
}

.logo-container {
	width: 52px;
	height: 52px;
	flex-shrink: 0;
	align-items: flex-end;
	justify-content: flex-start;
}

.logo {
	width: 60%;
	height: 60%;
	object-fit: contain; /* Ensures the logo maintains its aspect ratio */
}

.logo-text-container {
	position: relative;
	left: -5px;
	top: -11px;
	font-family: 'PretendardVariable', sans-serif;
	font-size: 100%;
	margin-top: 16px;
	color: black;
}

.logo-box.notactive .logo,
.logo-box.notactive .logo-text-container {
	opacity: 0.5; /* Adjust the opacity for a disabled look */
}
